# ── Node ──────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-error.log*
.npm

# ── Angular ───────────────────────────────────────────────────────────────────
dist/
.angular/cache/
out-tsc/
coverage/
.sass-cache/

# ── Tauri ─────────────────────────────────────────────────────────────────────
src-tauri/target/
app-icon.png

# ── IDE ───────────────────────────────────────────────────────────────────────
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── Env / secrets ─────────────────────────────────────────────────────────────
.env
.env.*
!.env.example
